@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@use "sass:color";

@import "./styles/vars";
@import "./styles/fns";
@import "./styles/mixins";

@import "./styles/utils/reset";
@import "./styles/utils/colors";
@import "./styles/utils/flex";
@import "./styles/utils/font";
@import "./styles/utils/sizing";
@import "./styles/utils/spacing";
@import "./styles/utils/utils";

html {
  font-size: $fs-base;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
}
